@model NewAndEditPostViewModel

@{
    string pageTitle = string.Empty;
    string formAction = string.Empty;
    if (Model.Post.Id == 0)
    {
        formAction = "NewPost";
        pageTitle = "New Post";
    }
    else
    {
        formAction = "EditPost";
        pageTitle = "Edit Post";
    }
}
<link href="~/lib/Trumbowyg/dist/ui/trumbowyg.min.css" rel="stylesheet" />
<form asp-controller="Post" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            <h2>@pageTitle</h2>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="Post.Id" />
            <label for="titleTextBox">Title</label>
            <input asp-for="Post.Title" id="titleTextBox" class="form-control" />
        </div>
        <div class="form-group">
            <label class="" for="editor">Body</label>
            <textarea asp-for="Post.Body" id="editor" class="form-control"></textarea>
        </div>
        <input class="btn btn-primary" asp-action="@formAction" type="submit" value="submit" /> &nbsp;
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>

    <div class="container">
        <div class="row">
            <h3>Image Select/Uplaod</h3>
        </div>
        <div class="row form-group">
            <label for="pic">Upload Images:</label>
            <input asp-for="NewlySubmittedFiles" type="file" accept="image/.gif,image/.jpg,image/.jpeg,image/.png" multiple/>
            <h6>Accepts: JPG/JPEG, PNG, GIF</h6>
            <input class="btn btn-primary" asp-action="AddImages" type="submit" value="Upload Selected Images" />
        </div>
        <div class="row">
            <ul class="list-group">
                @{ int imgindex = 0; }
                @foreach (string file in Model.ExistingImageFileNames)
                {
                    string imagePath = $"/Image/{file}";
                    string imgTagId = $"img_{imgindex}";

                    <li class="list-group-item zx-li">
                        <img id="@imgTagId" src="@imagePath" width="96" />
                        &nbsp;&nbsp;<span>@Html.Raw(file)</span>
                        <input type="button" class="btn btn-info" onclick="copyImageLocationToClipboard(@imgTagId)" value="Copy Location" />
                    </li>

                    imgindex++;
                }
            </ul>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/lib/Trumbowyg/dist/trumbowyg.min.js"></script>
    <script>
        $('#editor').trumbowyg({
            imageWidthModalEdit: true
        });

        function copyImageLocationToClipboard(imgTagId) {
            var textArea = document.createElement("textarea");
            textArea.value = imgTagId.src;
            document.body.appendChild(textArea);
            textArea.select();
            document.execCommand("copy");
            return false;
        } 
    </script>
}