@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="profile-content vertical-center">
                <div class="hidden-xs col-sm-4 col-md-3">
                    <img class="profile-image" src="@Model.ProfilePicturePath" alt="">
                </div>
                <div class="col-sm-8 col-md-8">
                    <div class="headerContent">
                        <h2>&nbsp;&nbsp;@Model.ProfileName</h2>
                        <p>@Model.DescriptionBlurb</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            @foreach (PostModel post in Model.PaginatedPosts)
            {
                string postMetaDataString = $"Created: {post.CreatedDateTime.ToShortDateString()} {post.CreatedDateTime.ToShortTimeString()}";
                if (post.EditedDateTime != null && post.EditedDateTime != DateTime.MinValue)
                {
                    postMetaDataString += $", Last edited: {post.EditedDateTime.ToShortDateString()} {post.EditedDateTime.ToShortTimeString()}";
                }

                <div class="blog-post">
                    <h2 class="blog-post-title">@post.Title</h2>
                    <p class="blog-post-metadata">@postMetaDataString</p>
                    <div class="blog-post-content">
                        <p>@Html.Raw(post.Body)</p>
                        <hr class="blog-post-endLine"/>
                    </div>
                </div>
            }
        </div>
    </div>
</div>